
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
padding: 30px;
text-align: center;
border: 1px solid rgb(178, 196, 178);
background-color: #777;
}
nav {
  float: left;
  width: 25%;
}
nav ul {
  list-style-type: none;
  padding: 0 20px;
  border: 1px solid rgba(168, 179, 168, 0.226);
  text-align: center;
  background-color: #e5e5e5;
  margin-top: 0px;
}

nav ul li a {
  display: block;
  color: #000;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
background-color: #777;
color: #fff;
}

.satu {
  color: black;
}
.dua {
  color: rgb(26, 29, 26);
}

article {
  float: left;
  padding: 0 20px;
  width: 70%;
  background-color: #f1f1f1;
  border: 1px solid rgb(56, 58, 56);
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  border: 1px solid green;
}
